<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AgentesDisponibles</servlet-name>
        <servlet-class>servlet.AgentesDisponibles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarCampana</servlet-name>
        <servlet-class>servlet.AgregarCampana</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cola</servlet-name>
        <servlet-class>servlet.Cola</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComboSecretaria</servlet-name>
        <servlet-class>servlet.ComboSecretaria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Conferencia</servlet-name>
        <servlet-class>servlet.Conferencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContenedorAgente</servlet-name>
        <servlet-class>servlet.ContenedorAgente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContenedorPiloto</servlet-name>
        <servlet-class>servlet.ContenedorPiloto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCampana</servlet-name>
        <servlet-class>servlet.EliminarCampana</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HabilitarDesabilitar</servlet-name>
        <servlet-class>servlet.HabilitarDesabilitar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InterceptarLlamada</servlet-name>
        <servlet-class>servlet.InterceptarLlamada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sincronizar</servlet-name>
        <servlet-class>servlet.Sincronizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Whispering</servlet-name>
        <servlet-class>servlet.Whispering</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarCampana</servlet-name>
        <servlet-class>servlet.ModificarCampana</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TablaEstadistica</servlet-name>
        <servlet-class>servlet.TablaEstadistica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>servlet.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QosGrafico</servlet-name>
        <servlet-class>servlet.QosGrafico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RankingExcelencia</servlet-name>
        <servlet-class>servlet.RankingExcelencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccionesAgente</servlet-name>
        <servlet-class>servlet.AccionesAgente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraficoEncuesta</servlet-name>
        <servlet-class>servlet.GraficoEncuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>escucha</servlet-name>
        <servlet-class>servlet.escucha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerMemo</servlet-name>
        <servlet-class>servlet.obtenerMemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerInfoMemo</servlet-name>
        <servlet-class>servlet.obtenerInfoMemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaPilotoToolTip</servlet-name>
        <servlet-class>servlet.ListaPilotoToolTip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarMemo</servlet-name>
        <servlet-class>servlet.agregarMemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMemo</servlet-name>
        <servlet-class>servlet.updateMemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarMemo</servlet-name>
        <servlet-class>servlet.eliminarMemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraficoEstadisticaIVR</servlet-name>
        <servlet-class>servlet.GraficoEstadisticaIVR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcelGestion</servlet-name>
        <servlet-class>servlet.ExcelGestion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgentesDisponibles</servlet-name>
        <url-pattern>/AgentesDisponibles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarCampana</servlet-name>
        <url-pattern>/AgregarCampana</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cola</servlet-name>
        <url-pattern>/Cola</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComboSecretaria</servlet-name>
        <url-pattern>/ComboSecretaria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Conferencia</servlet-name>
        <url-pattern>/Conferencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContenedorAgente</servlet-name>
        <url-pattern>/ContenedorAgente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContenedorPiloto</servlet-name>
        <url-pattern>/ContenedorPiloto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCampana</servlet-name>
        <url-pattern>/EliminarCampana</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HabilitarDesabilitar</servlet-name>
        <url-pattern>/HabilitarDesabilitar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InterceptarLlamada</servlet-name>
        <url-pattern>/InterceptarLlamada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sincronizar</servlet-name>
        <url-pattern>/Sincronizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Whispering</servlet-name>
        <url-pattern>/Whispering</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarCampana</servlet-name>
        <url-pattern>/ModificarCampana</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TablaEstadistica</servlet-name>
        <url-pattern>/TablaEstadistica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QosGrafico</servlet-name>
        <url-pattern>/QosGrafico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RankingExcelencia</servlet-name>
        <url-pattern>/RankingExcelencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccionesAgente</servlet-name>
        <url-pattern>/AccionesAgente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraficoEncuesta</servlet-name>
        <url-pattern>/GraficoEncuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>escucha</servlet-name>
        <url-pattern>/escucha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerMemo</servlet-name>
        <url-pattern>/ObtenerMemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerInfoMemo</servlet-name>
        <url-pattern>/ObtenerInfoMemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaPilotoToolTip</servlet-name>
        <url-pattern>/ListaPilotoToolTip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarMemo</servlet-name>
        <url-pattern>/agregarMemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarMemo</servlet-name>
        <url-pattern>/EliminarMemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMemo</servlet-name>
        <url-pattern>/UpdateMemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraficoEstadisticaIVR</servlet-name>
        <url-pattern>/GraficoEstadisticaIVR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcelGestion</servlet-name>
        <url-pattern>/ExcelGestion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
